@font-face {
    font-family: 'MiFuente';
    src: url('../fonts/font_pack__sun_and_moon_by_mucrush_d9t8kqh.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
    padding: 20px;
}

.contenedor-principal {
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* interfaz ocupa 3 partes, log 1 parte */
    gap: 20px;
    /* separación entre columnas */
    align-items: start;
    /* alinea arriba ambos */
    max-width: 1300px;
    /* ajusta a gusto */
    margin: 0 auto;
}

/* Interfaz-Batalla */
#interfaz {
    max-width: 1000px;
    margin: 0 auto;
    gap: 10px;
}

/* Bloque-Batalla */
.batalla {
    border: 2px solid black;
    background-image: url("../img/batallas/batalla.png");
    width: 100%;
    max-width: 1000px;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;

    overflow: hidden;
    /* oculta lo que se sale */
}

#bloqueJugador {
    position: absolute;
    bottom: -100px;
    left: 0;
}

#bloqueIa {
    position: absolute;
    top: 190px;
    right: 0;
}

/* Bloque de estado */
.bloqueEstado {
    margin-left: 10px;
    background: white;
    border-radius: 8px;
    padding: 10px 15px;
    width: 200px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    margin-top: 10px;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-weight: bold;
    font-size: 15px;
    color: #333;
}


.bloque_hpBarra {
    background: #ccc;
    border-radius: 6px;
    height: 10px;
    margin: 6px 0;
    overflow: hidden;
}

.hpBarra {
    background: #4cd964;
    /* verde */
    height: 100%;
    width: 100%;
    transition: width 0.4s ease;
}

.hpText {
    text-align: right;
    font-weight: bold;
    color: #222;
    font-size: 13px;
}

/* Fin de estado */
/* Bloque-Info */
.informacion {
    display: none;
    position: absolute;
    top: -90px;
    /* sube el cuadro por encima de la imagen */
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease;

    background-color: #ffffffc5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 20px;

}

.contenedorIa:hover .informacion {
    display: block;
    opacity: 1;
}

.contenedorJugador:hover .informacion {
    display: block;
    opacity: 1;
}

/* Fin-Bloque-Info */

/* Sprites */
.sprites {
    display: block;
    width: 250px;
    background-image: url("../img/batallas/Diseño_sin_título-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 290px;
    background-position: 100% 100%;
}

#spriteJugador {
    width: 400px;
}

/* Fin-Sprites */
/* Fin-Bloque-Batalla */
/* MOVIMIENTOS */
.movimientos {
    background-color: #ffffffc5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;

}

.movimientos:nth-child(2) {
    width: 300px;
    height: 550px;
    overflow: auto;
    border: 2px solid #333;
    padding: 10px;
}

.moves {
    display: flex;
    /* activa flexbox */
    align-items: center;
    /* centra verticalmente texto e imagen */
    justify-content: flex-start;
    /* texto a la izquierda */

    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: medium;

    background-color: white;
    border-radius: 10px;
    width: 429px;
    height: 75px;
    cursor: pointer;

}

.moves img {
    width: 20%;
    margin-left: auto;
    margin-right: 10%;
}

/* Fin-MOVIMIENTOS */

/* Fin-Interfaz-Batalla */
footer {
    position: fixed;
    bottom: 0%;
    left: 0%;
}