@font-face {
    font-family: 'MiFuente';
    src: url('../fonts/font_pack__sun_and_moon_by_mucrush_d9t8kqh.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
header{
    padding: 20px;
}
.batalla{
    border: 2px solid black;
    background-image: url("../img/batallas/batalla.png");
    width: 100%;
    max-width: 1000px;
    height: 600px; 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;    
    margin: 0 auto;
    position: relative;
}
#bloqueJugador{
position: absolute;
  bottom: 0;
  left: 0;
}
#bloqueIa{
 position: absolute;
  top:190px;
  right: 0;
}
.sprites{
    display: block;
    width: 200px;
    background-image: url("../img/batallas/Diseño_sin_título-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 220px;
    background-position: 100% 100%;
}

#interfaz{
    max-width: 1000px;
    margin: 0 auto;
    gap: 10px;
}

#movimientos {
    background-color: #ffffffc5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* espacio entre las columnas */
    gap: 5px;                       /* separación entre filas/columnas */
    
}
.moves{
    color: black;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
    width: 40%;
    height: 50px;
    padding: 5px;
}

footer{
    position: fixed;
    bottom: 0%;
    left: 0%;
}
