.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

th,
td {
    color: black;
}

table {
    background: linear-gradient(rgb(74, 72, 72), rgb(141, 141, 157));
    border: none;
    border-radius: 15px;

    padding: 1rem;
}

tr {
    background-color: white;
}

tr,
th,
td {
    padding: 1rem;
    margin: 1rem;
    border: none;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 15px;
}






footer {
    position: fixed;
    bottom: 0%;
    left: 0%;
}