.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    background-color: white;
    max-width: 50%;
    height: 780px;
    margin: 3rem;
    border-radius: 20px;
}

p {
    color: black;
}

.lose {
    color: red;
}

.win {
    color: rgb(58, 213, 58);
}

h1 {
    text-align: center;
    margin-top: 5rem;
}