* {
    color: white;
    font-family: sans-serif;
}

body {
    background-image: url("../img/pokemon_fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Menu */
#menu{
    position: absolute;
    top: 0%;
    left: 0%;
    background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),   /* Negro opaco arriba */
    rgba(0, 0, 0, 0.3), /* Semitransparente en el medio */
    rgba(0, 0, 0, 0)    /* Totalmente transparente abajo */
  );
    width: 100%;
    
}
ul{   
    justify-content: center; 
    display: flex;
    gap: 40px;
    list-style: none;
    
}
a{
    text-decoration: none;
}

/* Boton_Jugar */

#jugar{
    width: 25%;
    height: 50px;

    position: fixed;
    bottom: 20%;
    left: 50%; 
    transform: translateX(-50%);
    border: 1px none;
    border-radius: 5px;
    color: white;
     background: linear-gradient(
        to right,
        orange 0%,
        rgb(255, 106, 0) 40%,
        #a020f0 60%,  /* Puedes usar "purple" o un tono como #a020f0 */
        #6a0dad 100%
      );

}

/* PiePagina */
footer{
    text-align: center;
    width: 100%;
    padding: 2rem;  
    background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),   /* Negro opaco arriba */
    rgba(0, 0, 0, 0.3), /* Semitransparente en el medio */
    rgba(0, 0, 0, 0)    /* Totalmente transparente abajo */
  );
    position: fixed;
    bottom: 0%;
    left: 0%;
}