@font-face {
    font-family: 'MiFuente';
    src: url('../fonts/font_pack__sun_and_moon_by_mucrush_d9t8kqh.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("../img/pokemon_fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

/* Boton_Jugar */

#jugar{
    width: 25%;
    height: 50px;

    position: fixed;
    bottom: 20%;
    left: 50%; 
    transform: translateX(-50%);
    border: 1px none;
    border-radius: 5px;
    color: white;
     background: linear-gradient(
        to right,
        orange 0%,
        rgb(255, 106, 0) 40%,
        #a020f0 60%,  /* Puedes usar "purple" o un tono como #a020f0 */
        #6a0dad 100%
      );
    transition: filter 0.3s ease;
}

#jugar:hover{
    filter: brightness(70%);
}

/* Titulo */
#titulo{
    display: flex;
    flex-direction: column;      
    justify-content: center;     
    align-items: center;         
    height: 70vh;              
    text-align: center;       
}
#titulo img{
    width: 500px;

}
h1{
    font-family: 'MiFuente', sans-serif;
    color: yellow;
}

/* Ttipo */
#tabla-tiposact{
    margin-left: 10%;
    transition: filter 0.3s ease;
}
#tabla-tiposact:hover{
    filter: brightness(70%);
}