@font-face {
    font-family: 'MiFuente';
    src: url('../fonts/font_pack__sun_and_moon_by_mucrush_d9t8kqh.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("../img/pokemon_fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

/* Boton_Jugar */

#jugar {
    font-family: 'MiFuente', sans-serif;
    width: 25%;
    height: 50px;

    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px none;
    border-radius: 5px;
    color: white;
    background: linear-gradient(to right,
            orange 0%,
            rgb(255, 106, 0) 40%,
            #a020f0 60%,
            /* Puedes usar "purple" o un tono como #a020f0 */
            #6a0dad 100%);
    transition: filter 0.3s ease;
}

#registro {
    font-family: 'MiFuente', sans-serif;
    width: 25%;
    height: 50px;

    position: fixed;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px none;
    border-radius: 5px;
    color: white;
    background: linear-gradient(to right,
            orange 0%,
            rgb(255, 106, 0) 40%,
            #a020f0 60%,
            #6a0dad 100%);
    transition: filter 0.3s ease;

    margin-bottom: 120px;

}



#jugar:hover,
#registro:hover {
    filter: brightness(70%);
    cursor: pointer;
}

.error-mensaje {
    background: white;
    color: #1a1a1a;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 12px 20px;
    border-radius: 8px;
    border-left: 5px solid #ef4444;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);

    position: fixed;
    top: 24px;
    right: 24px;

    animation: fadeSlide 0.3s ease-out;
    z-index: 9999;
}

@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Titulo */
#titulo {
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
}

form {
    color: black;
    font-weight: bold;

    margin-right: 60px;
    text-transform: uppercase;
    background-color: #ffffffc5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 250px;

    text-align: center;

    display: none;
    /* Oculto al inicio */
}

form label {
    color: black;
}

form input {
    color: black;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    margin: 10px;
}

#enviar {
    color: black;
    cursor: pointer;
}

#enviar:hover {
    background-color: gray;
}

#titulo img {
    width: 600px;

}

/* Ttipo */
#tabla-tiposact {
    margin-left: 10%;
    transition: filter 0.3s ease;
}

#tabla-tiposact:hover {
    filter: brightness(70%);
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0%;
    left: 0%;
}