/* --- CONTENEDOR DEL FORMULARIO --- */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    min-height: 100vh;
}

/* --- FORMULARIO --- */
#formTrainer {
    width: 90%;
    max-width: 500px;
    padding: 45px 50px;

    background: rgba(0, 0, 0, 0.75);
    border: 2px solid #8a7f7f;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);

    text-align: left;
}

/* --- TÍTULO --- */
#formTrainer h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 28px;
    text-align: center;
    color: #2167d7;
    letter-spacing: -0.3px;
}

/* --- LABELS --- */
#formTrainer label {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 2px;
    display: block;
}

/* --- INPUTS --- */
#formTrainer input[type="text"],
#formTrainer input[type="password"] {
    width: 100%;
    padding: 11px 14px;
    margin-bottom: 20px;

    border: 2px solid #e5e7eb;
    background: #f9fafb;
    border-radius: 8px;

    color: #1f2937;
    font-size: 0.95rem;

    outline: none;
    transition: all 0.2s;
}

#formTrainer input[type="text"]:focus,
#formTrainer input[type="password"]:focus {
    border-color: #404be4;
    background: #ffffff;
}

/* --- BOTÓN CENTRADO --- */
#formTrainer input[type="submit"] {
    font-family: 'MiFuente', sans-serif;

    display: block;
    width: 80%;
    margin: 20px auto 0;
    padding: 12px 0;

    border: none;
    border-radius: 8px;

    background: linear-gradient(135deg, #f59e0b 0%, #ef4444 50%, #8b5cf6 100%);
    color: #ffffff;

    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.3px;
    cursor: pointer;

    transition: all 0.3s;
    box-shadow: 0 2px 8px rgba(239, 68, 68, 0.25);
}

/* ------------FOOTER -----------*/

footer {
    position: fixed;
    bottom: 0%;
    left: 0%;
}