*{
        overflow: hidden;
}
body {

    background-image: url("../img/Fondo_Pokedex.webp");
    background-size: cover;
    /* cubre toda la pantalla */
    background-position: center;
    /* centra la imagen */
    background-repeat: no-repeat;
    /* no se repite */
    background-attachment: fixed;
    /* ⚠️ ESTO LA HACE FIJA */
    overflow: hidden;
}

@media (max-width: 768px),
(max-height: 1350px) {
    body {
        overflow: auto;
    }
}

#contenedor {
    margin-top: 7%;
    margin-bottom: 10%;
    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    gap: 20px;

    justify-content: center;

    padding: 20px;
}

.tarjeta {
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    background-color: #ffffffc5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 250px;
    height: 300px;
    transition: transform 0.2s;
    
    /* Centrado total del contenido */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info{
  position: absolute;
  bottom: 0;

  text-align: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tipo img[src*="Types_name"] {
    width: 110px;
    height: 20px;
    padding: 0;
    margin: 3px;
    display: inline-block;
    border-radius: 12px;
}

.tipo {
    display: flex;
    flex-direction: row;
}

.tarjeta img {
    padding: 5%;

}

.tarjeta h2 {
    color: black;
}

.tarjeta:hover {
    transform: scale(1.05);
}

.sprites {
    width: 50%;
    border-radius: 10px;
}

form {
    color: black;
    font-weight: bold;
    margin-right: 60px;
    text-transform: uppercase;
    background-color: #ffffffc5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 250px;
    text-align: center;
}

form label {
    color: black;
}

form input {
    color: black;
}

footer {
    position: fixed;
    bottom: 0%;
    left: 0%;
}

form input {
    color: black;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

#enviar {
    color: black;
    cursor: pointer;
}

#enviar:hover {
    background-color: gray;
}

button {
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}