body {
    background-image: url("../img/Fondo_Pokedex.webp");
    background-size: cover;
    /* cubre toda la pantalla */
    background-position: center;
    /* centra la imagen */
    background-repeat: no-repeat;
    /* no se repite */
    background-attachment: fixed;
    /* ⚠️ ESTO LA HACE FIJA */
    overflow: hidden;
}

@media (max-width: 768px),
(max-height: 1350px) {
    body {
        overflow: auto;
    }
}

#contenedor {
    margin-top: 7%;
    margin-bottom: 10%;
    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    gap: 20px;

    justify-content: center;

    padding: 20px;
}

.tarjeta {
    text-transform: uppercase;
    background-color: #ffffffc5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 290px;
    height: 350px;
    /* Fija la altura */
    max-width: 250px;
    transition: transform 0.2s;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Distribuye el contenido uniformemente */
}

.tarjeta img {
    padding: 21%;

}

.tarjeta h2 {
    color: black;
}

.tarjeta:hover {
    transform: scale(1.05);
}

.tipo img[src*="Types_name"] {
    width: 110px;
    height: 20px;
    padding: 0;
    margin: 3px;
    display: inline-block;
    border-radius: 12px;
}

.tipo {
    display: flex;
    flex-direction: row;
}

.sprites {
    width: 50%;
    border-radius: 10px;
    padding: 5%;
}

form {
    color: black;
    font-weight: bold;
    margin-right: 60px;
    text-transform: uppercase;
    background-color: #ffffffc5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 250px;
    text-align: center;
}

form label {
    color: black;
}

form input {
    color: black;
}

footer {
    position: fixed;
    bottom: 0%;
    left: 0%;
}

form input {
    color: black;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

#enviar {
    color: black;
    cursor: pointer;
}

#enviar:hover {
    background-color: gray;
}

button {
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

.nav_pagina {
    position: fixed;
    top: 80%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

p {
    position: absolute;
    left: 50%;
    bottom: 11%;
    transform: translateX(-50%);
    font-size: 25px;
    color: black;
}

/* Botones de navegación de paginación */

.btn-nav {
    background-color: rgba(67, 136, 196, 0.9);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    font-size: 25px;
    padding: 2rem;
}

.btn-nav:hover {
    background-color: rgba(38, 77, 111, 0.9);
    transform: scale(1.1);
    
}

.nav_pagina2{
    position: fixed;
    top: 80%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 80px;
}



