
body {
    background-image: url("../img/pokemon_fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;

}

footer{
    position: fixed;
    bottom: 0%;
    left: 0%;
}

h1{
    text-align: center;
    font-size: 4rem;
}
h2{
    color: black;
    background-color: orange;
    text-align: center;
    margin-top: 3rem;
    padding: 3rem;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 1px 1px 2px 1px rgb(red, green, blue);
}

div{
    margin: 0 auto;
    width: 50%;
}
