<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>PokemonSonimu</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <header>
    <h1>Bienvenido a Batallas Pokemon</h1>
  </header>
  <nav>
    <ol>
      <li>Inicio</li>
      <li>Pokedex</li>
      <li>Jugar</li>
    </ol>
  </nav>
  <!-- <video src=""></video> -->
  <input type="button" value="Jugar">
  <footer>
    ©2026_PokemonSonimu Creadores Marcos Fernández
    Alan Novas
  </footer>
</body>

</html>