{% extends "base.html" %}
{% block title %}PokemonSonimu{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/batalla.css') }}">
{% endblock %}

{% block content %}

<div id="interfaz">
    <div class="batalla">

        <div id="bloqueIa">
            <img class="sprites" id="spriteIa" src="{{pokemonContrincante.sprites.front_default}}"
                alt="Foto de {{pokemonContrincante.name}}"><br>
        </div>

        <div id="bloqueJugador">
            <img class="sprites" id="spriteJugador" src="{{pokemonJugadorUnico.sprites.back_default}}"
                alt="Foto de {{pokemonJugadorUnico.name}}"><br>
        </div>

    </div><br>

    <div id="movimientos">
        {% for movimiento in movimientos %}
        <button type="button" class="moves" style="{{ colorM.get(movimiento.type) }};">
            {{ movimiento.name }} &nbsp;&nbsp;
            PC: {{ movimiento.accuracy }}%
            PW: {{ movimiento.power }}
            <img
                src="{{ url_for('static', filename='img/Types_name/' + movimiento.type + '.png') }}"
                alt="{{ movimiento.type }}">
            
        </button>
        {% endfor %}
    </div>
</div>


{% endblock %}