{% extends "base.html" %}
{% block title %}Error 404{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style404.css') }}">

{% endblock %}

{% block content %}
<br><br><br>
<h1>Error 404</h1>
<br><br>
<div>
  <h2>

    {{mensaje}}
    {% for producto in productos %}
    <table border="2px" style="display: flex; background-color: white;">
      <tr>
        <td style="color: black;">nombre</td>
        <td style="color: black;">precio</td>

      </tr>
      <tr>
        <td style="color: black;">{{producto.nombre}}</td>
        <td style="color: black;">{{producto.precio}}</td>
      </tr>
    </table>
    <br>
    {%endfor%}

  </h2>
</div>



{% endblock %}