{% extends "base.html" %}
{% block title %}PokemonSonimu{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/historial.css') }}">
{% endblock %}
{% block links %}
{% if nombreUser is not none %}
<li><a href="/pokedexSeleccion">Jugar</a></li>
<li><a href="/logout">Cerrar Sesion</a></li>
{% endif %}
{% endblock %}
{% block content %}
<h1>Historial del jugador</h1>

<div class="container">
    <p>{{entrenador.nombre}}</p>
    {%for entrenador in listaBatallas%}

    {%if entrenador.resultado == true%}
    <p class="lose">
        Perdió contra
        {%for contrincante in entrenadorContrincante %}
        {%if contrincante.id == entrenador.id_entrenador2 %}
        {{contrincante.nombre}}
        {%endif%}
        {%endfor%}
    </p>
    {% else %}
    <p class="win">Ganó a
        {%for contrincante in entrenadorContrincante %}
        {%if contrincante.id == entrenador.id_entrenador2 %}
        {{contrincante.nombre}}
        {%endif%}
        {%endfor%}
    </p>
    {% endif %}

    <p>Fechas de juego</p>

    <p>{{entrenador.fecha.strftime("%d/%m/%Y")}}</p>

    {%endfor%}
</div>

{% endblock %}