{% extends "base.html" %}
{% block title %}PokemonSonimu{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/historial.css') }}">
{% endblock %}
{% block links %}
{% if nombreUser is not none %}
<li><a href="/pokedexSeleccion">Jugar</a></li>
<li><a href="/logout">Cerrar Sesion</a></li>
{% endif %}
{% endblock %}
{% block content %}

<div class="container">
    <h1>Historial del jugador</h1>
    <table>
        <tr class="thead">
            <th>#</th>
            <th>Jugador</th>
            <th>Resultado</th>
            <th>Oponente</th>
            <th>Fecha</th>
        </tr>
        {%for entrenador in listaBatallas%}
        <tr>
            <td>{{entrenador.id_batalla}}</td>
            <td>{{entrenadorJugador.nombre}}</td>

            {%if entrenador.resultado == False%}
                <td class="lose">Derrota</td>
            {% else %}
                <td class="win">Victoria</td>
            {% endif %}

            <td>
                {%for contrincante in entrenadorContrincante %}
                    {%if contrincante.id == entrenador.id_entrenador2 %}
                        {{contrincante.nombre}}
                    {%endif%}
                {%endfor%}
            </td>

            
            

            <td>{{entrenador.fecha.strftime("%d/%m/%Y")}}</td>
        </tr>

        {%endfor%}
    </table>
</div>

{% endblock %}

<!-- 
        <tr>
            <th>Nombre Jugador: </th>

            

            <th>Perdió contra: </th>
            

            

            <th>Ganó contra: </th>
            

            

            <th>Fecha de Partida: </th>
            
        </tr> -->