{% extends "base.html" %}
{% block title %}PokemonSonimu{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/historial.css') }}">
{% endblock %}
{% block links %}
{% if nombreUser is not none %}
<li><a href="/pokedexSeleccion">Jugar</a></li>
<li><a href="/logout">Cerrar Sesion</a></li>
{% endif %}
{% endblock %}
{% block content %}

<div class="container">
    <p>{{entrenador}}</p>
    {%for entrenador in listaEntrenadores%}

    {%if entrenador.resultado == False%}
    <p>Perdió</p>
    {% else %}
    <p>Ganó</p>
    {% endif %}

    <p>Fechas de juego</p>

    <p>{{entrenador.fecha.strftime("%d/%m/%Y")}}</p>

    {%endfor%}
</div>

{% endblock %}