{% extends "base.html" %}
{% block title %}PokemonSonimu{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/index.css') }}">
<script src="../static/js/index.js"></script>
<script src="../static/js/iniciarSesion.js"></script>
{% endblock %}

{% block content %}
<div id="titulo">
  <img id="tituloPokemon" src="../static/img/index/logopoke-removebg-preview.png" alt="Pokemon Sonimu"><br>

  <form method="POST" action="/" id="formTrainer">
    <input type="hidden" name="csrf_token" value="{{ form.csrf_token._value() }}">
    <label for="trainer">Entrenador</label><br>
    {{ form.trainer(size=20) }}<br>
    {{ form.enviar() }}<br>
  </form>

</div>

<div class="mensajeUser">
  <p>{{mensaje}}</p>
</div>

<img id="tabla-tiposact" onclick="abrirPopUp()" src="../static/img/index/tabla_de_tipos_boton-removebg-preview.png"
  alt="tabla_tipos" width="200px" title="mostrar tabla de tipos">
<input id="jugar" onclick="iniciarSesion()" type="button" value="Jugar">


{% endblock %}