{% extends "base.html" %}
{% block title %}PokemonSonimu{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/index.css') }}">
<script src="../static/js/index.js"></script>
{% endblock %}

{% block content %}
  <div id="titulo">
      <img src="../static/img/index/logopoke-removebg-preview.png" alt="Pokemon Sonimu"><br>
  </div>
  <img id="tabla-tiposact" onclick="abrirPopUp()" src="../static/img/index/tabla_de_tipos_boton-removebg-preview.png" alt="tabla_tipos" width="200px" title="mostrar tabla de tipos">
  <input id="jugar" type="button" value="Jugar">
{% endblock %}
