{% extends "base.html" %}
{% block title %}PokemonSonimu{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/index.css') }}">
{% endblock %}

{% block content %}
  <div id="titulo">
      <img src="../static/img/index/logopoke-removebg-preview.png" alt="POKEMON"><br>
      <h1>SONIMU</h1>
  </div>
  <img id="tabla-tiposact" src="../static/img/index/tabla_de_tipos_boton-removebg-preview.png" alt="tabla_tipos" width="200px">
  <input id="jugar" type="button" value="Jugar">
{% endblock %}
