{% extends "base.html" %}
{% block title %}Base - Pokedex {% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/stylesPickPokemon.css') }}">
{% endblock %}
{% block links %}
{% if nombreUser is not none %}
<li><a href="/historial">Historial</a></li>
<li><a href="/logout">Cerrar Sesion</a></li>
{% endif %}
{% endblock %}
{% block content %}

<div id="contenedor">

    <form method="POST" action="{{ url_for('batalla_route.PokedexS', page=pagination.page) }}">
        {{ form.hidden_tag() }}

        <label for="pokemon">Bienvenido {{nombreUser.nombre}} ¿Qué Pokémon utilizarás?</label><br>
        {{ form.pokemon() }}<br><br>

        {{ form.enviar() }}
    </form>

    {%for poke in pokemons%}
    <div class="tarjeta" style="{{ colorM.get(poke.types[0]) }};">
        <!-- ejecucion de la informacion de los pokemones disponibles en json pokemon -->
        <img class="sprites" src="{{poke.sprites.front_default}}" alt="Foto de {{poke.name}}"><br>
        <div class="info">
            <div class="tipo">
                {% for tipo in poke.types %}
                <img src="{{ url_for('static', filename='img/Types_name/' + tipo + '.png') }}" alt="{{ tipo }}">
                {% endfor %}
            </div>
            <h2>{{poke.name}}</h2>
        </div>

    </div>
    {% endfor %}


    </table>
</div>

<div class="{% if pagination.prev_page != none %} nav_pagina {% else %}nav_pagina2 {%endif%}">

    {%if pagination.prev_page != none%}

    <!-- Botón Anterior (izquierda) -->
    <a href="{{ url_for('batalla_route.PokedexS', page=pagination.prev_page) }}" class="btn-nav btn-prev">
        Anterior
    </a>
    {%endif%}

    <!-- Botón Siguiente (derecha) -->
    {% if pagination.next_page != none %}
    <a href="{{ url_for('batalla_route.PokedexS', page=pagination.next_page) }}" class="btn-nav btn-next">
        Siguiente
    </a>
    {% endif %}
</div>
<p>Pagina: {{pagination.page}} de {{pagination.total_pages}}</p>
{% endblock %}