{% extends "base.html" %}
{% block title %}Base - Pokedex {% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/stylesPickPokemon.css') }}">
{% endblock %}
{% block content %}

<div id="contenedor">

    <form method="POST" action="{{ url_for('batalla_route.PokedexS') }}">
        {{ form.hidden_tag() }}

        <label for="pokemon">Bienvenido {{nombreUser}} ¿Qué Pokémon utilizarás?</label><br>
        {{ form.pokemon() }}<br><br>

        {{ form.enviar() }}
    </form>

    {%for poke in pokemons%}
    <div class="tarjeta" style="{{ colorM.get(poke.types[0]) }};">
        <!-- ejecucion de la informacion de los pokemones disponibles en json pokemon -->
        <img class="sprites" src="{{poke.sprites.front_default}}" alt="Foto de {{poke.name}}"><br>

        {% for tipo in poke.types %}
        <img src="{{ url_for('static', filename='img/Types_name/' + tipo + '.png') }}" alt="{{ tipo }}">
        {% endfor %}
        <h2>{{poke.name}}</h2>
    </div>
    {% endfor %}


    </table>
</div>
{% endblock %}