<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylePokedex.css">
    <title>Pokedex</title>
</head>

<body>
    <header>
        <h1>Pokedex</h1>
    </header>
    <nav>
        <ol>
            <li>Inicio</li>
            <li>Pokedex</li>
            <li>Jugar</li>
        </ol>
    </nav>

    <table border="1">
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
        </tr>
        <tr>
            <td>Charizar</td>
            <td><img src="" alt="imagen"></td>
            <td>Fuego y Volador</td>
        </tr>
         <tr>
            <td>Venusaur</td>
            <td><img src="" alt="imagen"></td>
            <td>Planta y Veneno</td>
        </tr>

         <tr>
            <td>Blastoise</td>
            <td><img src="" alt="imagen"></td>
            <td>Agua</td>
        </tr>
         <tr>
            <td>Pikachu</td>
            <td><img src="" alt="imagen"></td>
            <td>Electrico</td>
        </tr>
         <tr>
            <td>Arcanine</td>
            <td><img src="" alt="imagen"></td>
            <td>Fuego</td>
        </tr>
         <tr>
            <td>Gyarados</td>
            <td><img src="" alt="imagen"></td>
            <td>Agua y Volador</td>
        </tr>
         <tr>
            <td>Serperior</td>
            <td><img src="" alt="imagen"></td>
            <td>Planta</td>
        </tr>
         <tr>
            <td>Ampharos</td>
            <td><img src="" alt="imagen"></td>
            <td>Electrico</td>
        </tr>
    </table>

    <div>
        <p>Charizar</p>
        <img src="" alt="imagenCharizar">
        <p>Fuego y volador</p>
    </div>

    <footer>
        ©2026_PokemonSonimu Creadores Marcos Fernández
        Alan Novas
    </footer>
</body>

</html>