{% extends "base.html" %}
{% block title %}Base - Pokedex {% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/stylePokedex.css') }}">
{% endblock %}
{% block links %}
    {% if session["trainer"] is none %}
    <li><a href="/pokedexSeleccion">Jugar</a></li>
    <li><a href="/historial">Historial</a></li>
    <li><a href="/logout">Cerrar Sesion</a></li>
    {% endif %}
{% endblock %}
{% block content %}
<div id="contenedor">
    {%for poke in pokemons%}
    <a href="{{ url_for('pokedex_route.PokedexDetails', id=poke.id) }}">
        <div class="tarjeta" style="{{ colorM.get(poke.types[0]) }};">
            <!-- ejecucion de la informacion de los pokemones disponibles en json pokemon -->
            <img class="sprites" src="{{poke.sprites.front_default}}" alt="Foto de {{poke.name}}"><br>

            <div class="tipo">
                {% for tipo in poke.types %}
                <img src="{{ url_for('static', filename='img/Types_name/' + tipo + '.png') }}" alt="{{ tipo }}">
                {% endfor %}
            </div>
            <h2>{{poke.name}}</h2>
        </div>
    </a>
    {% endfor %}


    </table>
</div>
{% endblock %}