{% extends "base.html" %}
{% block title %}Base - Detalles Pokemon {% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/stylesPokedexID.css') }}">
{% endblock %}

{% block content %}
<div id="contenedor">
    <!-- Izquierda -->
    <div id="izq">
        <div id="stats">
            <h2>{{pokemon.name}}</h2>
            <!-- Tipos -->
            {% for tipo in pokemon.types %}
            <img src="{{ url_for('static', filename='img/Types_name/' + tipo + '.png') }}" alt="{{ tipo }}">
            {% endfor %}
            <!-- Altura -->
            <p>Altura: {{ pokemon.height }}0 cm </p>
            <!-- Pesos -->
            {% if 100 > pokemon.weight %}
            <p>Peso: ligero</p>
            {% elif pokemon.weight > 500 %}
            <p>Peso: pesado</p>
            {% else %}
            <p>Peso: normal</p>
            {% endif %}
        </div>

        <!-- Estadisticas de los pokemones -->
        <div class="contenedorStats">
            <h2>Estadisticas</h2>
            {% for estadistica in pokemon.stats %}
                <label for="{{estadistica.name}}"> {{estadistica.name}} ({{estadistica.value}}):</label><br>
                <progress value="{{ estadistica.value }}" max="100"></progress><br>
            {% endfor %}
        </div>
    </div>
        <!-- Fin Izquierda -->
        <!-- Derecha -->
    <div id="der">
        <!-- Arriba-der -->

        <div id="sprites">
            <img id="icon" src="{{ url_for('static', filename='img/icon/estrella-negro.png') }}" alt="Estrella" onclick="pokshyni()" width="20px">

            <div class="pokefoto">
                <img id="pokeA" src="{{pokemon.sprites.front_default}}" alt="Foto de {{pokemon.name}}">
                <img id="pokeB" src="{{pokemon.sprites.back_default}}" alt="Foto de {{pokemon.name}}">                
            </div>
        </div>

        <!-- Abajo-Der -->
        <!-- lista de movimientos -->
        <div id="contenedorMoves">
            {% for movimiento in pokemon.moves %}
            <div id="moves" style="{{ colorM.get(movimiento.type) }};">
                {{ movimiento.name }} <img
                    src="{{ url_for('static', filename='img/Types_name/' + movimiento.type + '.png') }}"
                    alt="{{ movimiento.type }}"><br>
                PC: {{ movimiento.accuracy }}
                PW: {{ movimiento.power }}

            </div>
            {% endfor %}
        </div>

    </div>
    <!-- Fin Derecha -->
</div>
<script>
  const imagen = document.getElementById('pokeA');
  const imagenB = document.getElementById('pokeB');
  const icon = document.getElementById('icon');
  function pokshyni(){
    // Cambia la imagen al hacer clic
    if (imagen.src.includes('{{pokemon.sprites.front_default}}') && imagenB.src.includes('{{pokemon.sprites.back_default}}')) {
      icon.src = '{{ url_for("static", filename="img/icon/estrella.png") }}'
      imagen.src = '{{pokemon.sprites.front_shiny}}';
      imagenB.src = '{{pokemon.sprites.back_shiny}}';
    } else {
      icon.src = '{{ url_for("static", filename="img/icon/estrella-negro.png") }}'
      imagen.src = '{{pokemon.sprites.front_default}}';
      imagenB.src = '{{pokemon.sprites.back_default}}';
    }
  };
</script>
{% endblock %}